@use '../../styles/index' as *;

.notification {
    position: fixed;
    bottom: $spacing-xl;
    right: $spacing-xl;
    padding: $spacing-xl;
    border-radius: $radius-lg;
    font-weight: 600;
    font-size: 1.4rem;
    color: $white-color;
    z-index: 9999;
    animation: fadeIn 0.4s ease;

    &.success {
        background-color: $green-color;
    }

    &.error {
        background-color: $warning-red;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(30%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(30%);
    }
}
