<div class="landing">
    <div class="landing__header">
        <nav
            id="desktop-menu"
            class="landing__desktop-menu"
            role="dialog"
            aria-modal="true"
            aria-labelledby="desktop-menu-title"
        >
            <ul class="desktop-menu__list">
                <li>
                    <a href="#skills" role="menuitem">{{ 'menu.skills' | translate }}</a>
                </li>
                <li>
                    <a href="#projects" role="menuitem">{{ 'menu.projects' | translate }}</a>
                </li>
                <li>
                    <a href="#references" role="menuitem">{{ 'menu.references' | translate }}</a>
                </li>
                <li>
                    <a href="#contact" role="menuitem">{{ 'menu.contact' | translate }}</a>
                </li>
                <li>
                    <a
                        href="cv/Cecilia_Ducos_CV.pdf"
                        download="Cecilia_Ducos_CV.pdf"
                        role="menuitem"
                        [attr.aria-label]="'menu.downloadCVAria' | translate"
                    >
                        {{ 'menu.downloadCV' | translate }}
                    </a>
                </li>
            </ul>
        </nav>

        <button
            (click)="openMenu()"
            class="landing__icon"
            aria-controls="mobile-menu"
            aria-expanded="false"
            [attr.aria-label]="'menu.hamAriaLabel' | translate"
        >
            <img src="icons/ham.svg" alt="Menu icon" />
        </button>
    </div>

    <div class="landing__content">
        <img
            src="assets/resources/cecilia.webp"
            alt="{{ 'header.imageDescription' | translate }}"
            class="landing__avatar"
            loading="eager"
            fetchpriority="high"
            width="200"
            height="200"
        />
        <h1 class="landing__name">{{ 'header.name' | translate }}</h1>
        <p class="landing__subtitle">
            {{ 'header.description' | translate }}
        </p>
    </div>
    @if(isOpen) {
    <nav
        id="mobile-menu"
        class="landing__mobile-menu-nav"
        role="dialog"
        aria-modal="true"
        [attr.aria-expanded]="isOpen"
        aria-labelledby="mobile-menu-title"
    >
        <ul role="menu" class="landing__mobile-menu-list">
            <li class="landing__mobile-menu-item">
                <a href="#skills" role="menuitem" (click)="closeMenu()">{{ 'menu.skills' | translate }}</a>
            </li>
            <li class="landing__mobile-menu-item">
                <a href="#projects" role="menuitem" (click)="closeMenu()">{{ 'menu.projects' | translate }}</a>
            </li>
            <li class="landing__mobile-menu-item">
                <a href="#references" role="menuitem" (click)="closeMenu()">{{ 'menu.references' | translate }}</a>
            </li>
            <li class="landing__mobile-menu-item">
                <a href="#contact" role="menuitem" (click)="closeMenu()">{{ 'menu.contact' | translate }}</a>
            </li>
            <li class="landing__mobile-menu-item">
                <a
                    href="cv/Cecilia_Ducos_CV.pdf"
                    download="Cecilia_Ducos_CV.pdf"
                    role="menuitem"
                    [attr.aria-label]="'menu.downloadCVAria' | translate"
                >
                    {{ 'menu.downloadCV' | translate }}
                </a>
            </li>
        </ul>
    </nav>
    }
</div>

<rd-skills />
<rd-projects />
<rd-references />
<rd-contact />
<rd-footer />
