<div class="landing">
    <div class="landing__header">
        <h2 class="landing__dwn-btn">Download cv</h2>
        <button class="landing__icon">
            <img src="icons/ham.svg" alt="Menu icon" />
        </button>
    </div>

    <div class="landing__content">
        <img src="resources/cecilia.jpg" alt="Image of Cecilia Ducos" class="landing__avatar" />
        <h1 class="landing__name">{{ 'header.name' | translate }}</h1>
        <a
            class="landing__subtitle"
            href="https://certificates.dev/angular/certificates/9ead0045-8498-4f7e-b57e-b74b2292f392"
            target="_blank"
            [attr.aria-label]="'header.linkAria' | translate"
            rel="noopener noreferrer"
        >
            {{ 'header.description' | translate }}
        </a>
    </div>
</div>

<div class="contact">
    <div class="contact__row">
        <p class="contact__title--blue">
            {{ 'contact.title.0' | translate }}
        </p>
        <p class="contact__title">
            {{ 'contact.title.1' | translate }}
        </p>
    </div>
    <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <div class="contact__form-row">
            <div class="contact__field">
                <label for="name" class="contact__field-label">{{ 'contact.name' | translate }}</label>
                <input
                    #name
                    id="name"
                    class="contact__field-input"
                    type="text"
                    placeholder="{{ 'contact.nameExample' | translate }}"
                    formControlName="name"
                />
                <p
                    class="contact__error-msg"
                    [class.visible]="
                    contactForm.get('name')?.errors?.['required'] &&
                    contactForm.get('name')?.touched"
                >
                    {{ 'contact.nameRequired' | translate }}
                </p>
            </div>
            <div class="contact__field">
                <label for="email" class="contact__field-label">{{ 'contact.email' | translate }}</label>
                <input
                    #email
                    id="email"
                    class="contact__field-input"
                    type="email"
                    placeholder="{{ 'contact.emailExample' | translate }}"
                    formControlName="email"
                />
                <p
                    class="contact__error-msg"
                    [class.visible]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                >
                    {{ 
                        contactForm.get('email')?.errors?.['invalidEmail'] 
                        ? ( 'contact.emailInvalid' | translate)
                        : ( 'contact.emailRequired' | translate )
                    }}
                </p>
            </div>
        </div>
        <div class="contact__field">
            <label for="message" class="contact__field-label">{{ 'contact.message' | translate }}</label>
            <textarea
                #message
                id="message"
                class="contact__text-area"
                formControlName="message"
                placeholder="{{ 'contact.messageExample' | translate }}"
            ></textarea>
            <p
                class="contact__error-msg"
                [class.visible]="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched"
            >
                {{ 'contact.messageRequired' | translate }}
            </p>
        </div>
        <button
            class="contact__send-btn"
            type="submit"
            [disabled]="!name.value || !email.value || !message.value || !contactForm.valid || loading"
        >
            {{ 'common.send' | translate }}
        </button>
    </form>
</div>

<div class="footer" [attr.aria-label]="'footer.label' | translate">
    <div class="footer__text">
        <p class="footer__first">{{ 'footer.text.0' | translate }}</p>
        <p class="footer__second">
            {{ 'footer.text.1' | translate }}
        </p>
        <a
            class="footer__link"
            target="_blank"
            [attr.aria-label]="'footer.linkAria' | translate"
            rel="noopener noreferrer"
            href="https://www.behance.net/delfinagrana"
        >
            {{ 'footer.text.2' | translate }}
        </a>
    </div>
</div>
