@use '../../styles/index' as *;

.landing {
    background-color: $light-black-color;
    color: $white-color;
    text-align: center;
    padding: 2rem 1.5rem;
    min-height: 100vh;
    position: relative;

    &__header {
        margin-bottom: 2rem;
        position: absolute;
        right: 20px;
    }

    &__dwn-btn {
        display: none;
        color: $blue-color;
        font-size: 1.2rem;
    }

    &__icon {
        background: transparent;
        border: none;
        cursor: pointer;

        @media (min-width: 768px) {
            display: none;
        }

        img {
            width: 56px;
            height: 28px;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100vh;
    }

    &__avatar {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        margin-top: 3rem;
        font-size: 3.4rem;
        font-weight: bold;
        color: $blue-color;
    }

    &__subtitle {
        color: $white-color;
        font-size: 1.8rem;
        max-width: 22rem;
        font-weight: 400;
        margin-top: 0.4rem;
        line-height: 1.3;
        text-underline-offset: 4px;
    }

    &__mobile-menu {
        &-nav {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background-color: $light-black-color;

            @media (min-width: 768px) {
                display: none;
            }
        }

        &-list {
            background-color: $light-black-color;
            padding: 1rem 1rem 0;
        }

        &-item {
            font-size: 1.6rem;
            border-radius: 1rem;
            color: $white-color;
            background-color: $grey-color;
            font-weight: 300;
            text-align: center;
            text-decoration: none;
            margin-bottom: 1rem;
            border: 2px solid transparent;

            &:hover {
                background-image: linear-gradient($grey-color, $grey-color),
                    linear-gradient(to right, $red-color, $purple-color); // bakground border
                background-origin: border-box;
                background-clip: padding-box, border-box;
            }

            a {
                color: $white-color;
                text-decoration: none;
                display: block;
                padding: 1.2rem 2rem;
            }
        }
    }

    &__desktop-menu {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }
}
