<div class="landing">
    <div class="landing__header">
        <h2 class="landing__title">Landing Section Mobile</h2>
        <button class="landing__icon">
            <img src="icons/ham.svg" alt="Menu icon" />
        </button>
    </div>

    <div class="landing__content">
        <img src="resources/cecilia.jpg" alt="Image of Cecilia Ducos" class="landing__avatar" />
        <h1 class="landing__name">Cecilia Ducos</h1>
        <p class="landing-section__subtitle">Certified Angular Developer</p>
    </div>
</div>

<div class="contact">
    <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
        <div class="contact__row">
            <div class="contact__column">
                <p class="contact__label">Name</p>
                <input class="contact__field" type="text" formControlName="name" />
            </div>
            <div class="contact__column">
                <p class="contact__label">Email</p>
                <input class="contact__field" type="email" formControlName="email" />
            </div>
        </div>
        <div class="contact__column">
            <p class="contact__label">Message</p>
            <textarea class="contact__text-area" formControlName="message" placeholder="Your Message"></textarea>
        </div>
        <button class="contact__send-btn" type="submit" [disabled]="contactForm.invalid || loading">
            {{ 'common.send' | translate }}
        </button>
    </form>
</div>
