<section id="references" class="references" aria-labelledby="references-heading">
    <div class="references__header animate-on-scroll">
        <h2 class="references__title">
            <span class="references__title--primary">{{ 'references.title.0' | translate }}</span>
            <span class="references__title--accent">{{ 'references.title.1' | translate }}</span>
        </h2>
    </div>

    <div class="references__content">
        <article
            class="references__card-container animate-on-scroll"
            style="animation-delay: 0.1s"
            aria-labelledby="references-ref1-title"
        >
            <svg class="references__quote-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 7L8 11H11V17H5V11L7 7H10ZM19 7L17 11H20V17H14V11L16 7H19Z" fill="currentColor" />
            </svg>
            <h3 id="references-ref1-name" class="references__card-title">
                {{ 'references.ref1.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref1.text' | translate }}
            </p>
        </article>

        <article
            class="references__card-container animate-on-scroll"
            style="animation-delay: 0.2s"
            aria-labelledby="references-ref2-title"
        >
            <svg class="references__quote-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 7L8 11H11V17H5V11L7 7H10ZM19 7L17 11H20V17H14V11L16 7H19Z" fill="currentColor" />
            </svg>
            <h3 id="references-ref2-name" class="references__card-title">
                {{ 'references.ref2.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref2.text' | translate }}
            </p>
        </article>

        <article
            class="references__card-container animate-on-scroll"
            style="animation-delay: 0.3s"
            aria-labelledby="references-ref3-title"
        >
            <svg class="references__quote-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 7L8 11H11V17H5V11L7 7H10ZM19 7L17 11H20V17H14V11L16 7H19Z" fill="currentColor" />
            </svg>
            <h3 id="references-ref3-name" class="references__card-title">
                {{ 'references.ref3.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref3.text' | translate }}
            </p>
        </article>

        <article
            class="references__card-container animate-on-scroll"
            style="animation-delay: 0.4s"
            aria-labelledby="references-ref4-title"
        >
            <svg class="references__quote-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 7L8 11H11V17H5V11L7 7H10ZM19 7L17 11H20V17H14V11L16 7H19Z" fill="currentColor" />
            </svg>
            <h3 id="references-ref4-name" class="references__card-title">
                {{ 'references.ref4.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref4.text' | translate }}
            </p>
        </article>
    </div>
</section>
