<section id="references" class="references" aria-labelledby="references-heading">
    <div id="references-title" class="references__row">
        <h2 id="references-heading" class="references__title--blue">
            {{ 'references.title.0' | translate }}
        </h2>
        <p class="references__title" aria-hidden="true">
            {{ 'references.title.1' | translate }}
        </p>
    </div>

    <div class="references__content">
        <article class="references__card-container" aria-labelledby="references-ref1-title">
            <h3 id="references-ref1-name" class="references__card-title">
                {{ 'references.ref1.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref1.text' | translate }}
            </p>
        </article>

        <article class="references__card-container" aria-labelledby="references-ref2-title">
            <h3 id="references-ref2-name" class="references__card-title">
                {{ 'references.ref2.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref2.text' | translate }}
            </p>
        </article>

        <article class="references__card-container" aria-labelledby="references-ref3-title">
            <h3 id="references-ref3-name" class="references__card-title">
                {{ 'references.ref3.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref3.text' | translate }}
            </p>
        </article>

        <article class="references__card-container" aria-labelledby="references-ref4-title">
            <h3 id="references-ref4-name" class="references__card-title">
                {{ 'references.ref4.name' | translate }}
            </h3>
            <p class="references__card-description">
                {{ 'references.ref4.text' | translate }}
            </p>
        </article>
    </div>
</section>
