@use 'variables' as v;
@use 'tokens' as t;

html,
body {
    font-size: 62.5%;
    font-family: 'Inter';
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@mixin app-container {
    background-color: v.$light-black-color;
    padding: 2rem;
}

@mixin common-title {
    display: inline;
    color: v.$white-color;
}

@mixin blue-title {
    display: inline;
    color: v.$blue-color;
}

@mixin app-row {
    margin-bottom: 4.4rem;
    font-weight: 700;
    font-size: 3rem;
}
