// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

// Font
$main-font: 'Inter', sans-serif;

// Color Palette
$black-color: #000000;
$grey-color: #2b2b2e;
$light-grey-color: #888;
$blue-color: #4597f7;
$cyan-color: #00d4ff;
$purple-color: #a02eff;
$red-color: #ff1e56;
$light-red-color: #ff4c6b;
$warning-red: #ff4d4f;
$green-color: #28c76f;

// Background colors
$white-color: #ffffff;
$light-black-color: #1a1a1a;

// Transparent colors
$grey-transparent-15: #2b2b2e26;
$grey-transparent-60: #2b2b2e99;
$white-transparent-08: #ffffff14;
$white-transparent-60: #ffffff99;
$white-transparent-70: #ffffffb3;
$white-transparent-80: #ffffffcc;
$light-grey-transparent-90: #888888e6;
$blue-transparent-10: #4597f71a;
$blue-transparent-20: #4597f733;
$blue-transparent-30: #4597f74d;
$blue-transparent-40: #4597f766;
$blue-transparent-50: #4597f780;
$blue-transparent-60: #4597f799;
$blue-transparent-80: #4597f7cc;
$blue-transparent-90: #4597f7e6;
$black-transparent-50: #00000080;
$black-transparent-60: #00000099;
$black-transparent-90: #000000e6;

// Semantic colors
$color-primary: $blue-color;
$color-secondary: $purple-color;
$color-success: $green-color;
$color-error: $red-color;
$color-warning: $warning-red;

// Text colors
$text-primary: $black-color;
$text-secondary: $grey-color;
$text-muted: $light-grey-color;
$text-inverse: $white-color;
