@import 'variables';
@import 'fonts';
@import 'reset';

body {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Inter';
    font-weight: 500;
}
