@use 'variables' as v;
@use 'global' as *;

.skills {
    @include app-container;

    &__row {
        @include app-row;
    }

    &__title {
        @include common-title;

        &--blue {
            @include blue-title;
        }
    }

    &__card {
        &-container {
            background-color: v.$grey-color;
            border: none;
            border-radius: 1.2rem;
            color: v.$white-color;
            font-size: 1.6rem;
            outline: none;
            text-align: center;
            padding: 4rem 1.5rem;

            &:not(:last-of-type) {
                margin-bottom: 3rem;
            }
        }

        &-title {
            color: v.$blue-color;
            font-size: 2rem;
            margin-bottom: 1.2rem;
            font-weight: 600;
        }

        &-description {
            font-weight: 300;
            font-size: 2.1rem;
            line-height: 34px;
        }

        &-bold-text {
            font-weight: 600;
        }
    }
}
