<div class="home">
  <div class="home__text-section">
    <p class="home__name" @fadeIn>Cecilia Ducos</p>
    <h1 class="home__title" @fadeInSlideUp>Hi! I'm Cecilia, <br>Ready to build?</h1>
    <p class="home__description" @fadeInSlideUp>
      I am a Front-End Developer with over 5 years of experience in web application development, specializing in Angular, TypeScript, and Javascript. I am proficient in building dynamic, scalable e-commerce applications and optimizing performance. I am skilled in agile methodologies, cross-functional collaboration, and cloud technologies such as AWS.
    </p>
  </div>
  <div class="home__item">
    <img src="animal.png" alt="second" @fadeIn> 
  </div>
</div>


<!-- <div class="container">
  <div class="text-content">
   
  </div>
  <div class="image-content">
    <img src="assets/home.jpeg" alt="Abstract cylinders">  </div>
</div>

<div class="technologies-title">Technologies & Tools</div> -->
