<div class="footer" [attr.aria-label]="'footer.label' | translate">
    <div class="footer__text">
        <p class="footer__first">{{ 'footer.text.0' | translate }}</p>
        <p class="footer__second">
            {{ 'footer.text.1' | translate }}
        </p>
        <a
            class="footer__link"
            target="_blank"
            [attr.aria-label]="'footer.linkAria' | translate"
            rel="noopener noreferrer"
            href="https://www.behance.net/delfinagrana"
        >
            {{ 'footer.text.2' | translate }}
        </a>
    </div>
</div>
