@use 'variables' as v;
@use 'global' as *;

.footer {
    height: 14rem;
    background-color: v.$black-color;
    color: v.$white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-weight: 100;

    &__first {
        margin-bottom: 0.4rem;
    }
}
